
.gdBackground {
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @keyframes sky {
    0% {right: -2500px;}
    100% {right: -500px;}
  }

  #sky {
    width: 150vw;
    height: 120vh;
    position: absolute;
    top: -30vh;
    z-index: -1;
    filter: drop-shadow(-10px 18px 2.5px rgba(51, 51, 51, 0.5));
    animation: sky 3s ease-out 0s 1;
    clip-path: inset(20% 0 0 0);

  }

  .gameinfo {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 250px;
      #gdgt {
        position: absolute;
        top: 0;
        padding-top: 20px;
        z-index: 2;
        font-size: 6vw;
        font-family: $marker;
        color:  #2E4057;
        text-shadow: -2.5px 5px 2.5px rgba(51, 51, 51, 0.5);
      }
  }
  @keyframes grass {
    0% {left: -2500px;}
    100% {left: -500px;}
  }
  #grass {
    position: absolute;
    z-index: -1;
    width: 140%;
    top: 60%;
    clip-path: inset(0 0 60% 0);
    animation: grass 3s ease-out 0s 1;
    filter: drop-shadow(-10px 18px 2.5px rgba(51, 51, 51, 0.5));
  }
  @keyframes sun {
    0% {right: -250px;}
    50% {right: -350px;}
    100% {right: -250px;}
  }
  #sun {
    position: absolute;
    width: 40vw;
    top: -5vh;
    right: -300px;
    height: auto;
    z-index: 2;
    filter: drop-shadow(-100px 50px 5px rgba(51, 51, 51, 0.5));
    animation: sun 10s ease-in-out 0s infinite;
  }
  .clouds {
    position: absolute;
    top: -10vh;
    left: -500px;
    z-index: 3;

    @keyframes clouds {
      0% {left: -300px;}
      100% {left: 2800px;}
    }
    #cloudSmall {
      position: absolute;
      width: 40vw;
      top: -200px;
      left: 3800px;
      height: auto;
      z-index: 3;
      filter: drop-shadow(-100px 50px 5px rgba(51, 51, 51, 0.5));
      animation: clouds 120s linear 40s infinite;
    }
    
    #cloudMed {
      position: absolute;
      width: 50vw;
      top: -150px;
      left: 2800px;
      height: auto;
      z-index: 1;
      filter: drop-shadow(-100px 50px 5px rgba(51, 51, 51, 0.5));
      animation: clouds 120s linear 80s infinite;

    }
    #cloudBig {
      position: absolute;
      width: 50vw;
      top: -100px;
      left: -300px;
      height: auto;
      z-index: 3;
      filter: drop-shadow(-100px 50px 5px rgba(51, 51, 51, 0.5));
      animation: clouds 120s linear 0s infinite;
    }
  }
  @keyframes trog {
    0% {left: -700px;}
    5% {left: -100px; top: 40vh;}
    10% {left: -50px; top: 35vh;}
    15% {left: 0px; top: 40vh;}
    20% {left: 100px; top: 50vh;}
    25% {left: 200px; top: 55vh;}
    30% {left: 100px; top: 60vh;}
    35% {left: 300px; top: 70vh;}
    40% {left: 400px; top: 80vh;}
    45% {left: 500px; top: 65vh;}
    50% {left: 600px; top: 80vh;}
    55% {left: 700px; top: 90vh;}
    60% {left: 800px; top: 70vh;}
    65% {left: 700px; top: 60vh;}
    70% {left: 800px; top: 70vh;}
    75% {left: 900px; top: 50vh;}
    80% {left: 1000px; top: 60vh;}
    85% {left: 1100px; top: 80vh;}
    90% {left: 1000px; top: 60vh;}
    95% {left: 1100px; top: 60vh;}
    100% {left: 1200px;}
  }

  #trogdor {
    position: absolute;
      width: 50vw;
      top: 50vh;
      left: -700px;
      height: auto;
      z-index: -1;
      filter: drop-shadow(-100px 50px 5px rgba(51, 51, 51, 0.5));
      animation: trog 65s ease-in-out 60s infinite;
  }

  // @keyframes trogFlames {
  //   0% {left: -700px;}
  //   75% {left: 910px; top: 50vh;}
  //   100% {left: -700;}
  // }

  // #trogdorFlames {
  //   position: absolute;
  //     width: 50vw;
  //     top: 50vh;
  //     left: -700px;
  //     height: auto;
  //     z-index: -1;
  //     filter: drop-shadow(-100px 50px 5px rgba(51, 51, 51, 0.5));
  //     animation: trogFlames 5s ease-in-out 0s infinite;
  // }
  // h1 {
  //   width: 100%;
  //   height: 10%;

  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   animation: sky 3s linear 0s 1;
  // }
}

.gdCategoryContainer {
    
    width: 80vw;
    position: absolute;
    top: 35vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-content: space-between;
    z-index: 4;

    .gdCategory {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 400px;
      align-items: center;
      z-index: 4;
      margin: 5px 50px;

      .catTitle {
        font-family: $font2;
        color: $color1;
        font-weight: bolder;
        font-size: 2.5vw;
        z-index: 4;
        background-color: #048BA8CC;
        border-radius: 25px;
        padding: 1.5vh;
        width: 100%;
        height: 12vh;
        position: relative;
        top: -22vh;
        text-align: center;
        text-shadow: 0 1px 0 #2E405780, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
        

        // margin: 0 7.5vw;
      }
      
      .gdBtn {
        background-image: url('./images/background_texture3.png');
        background-clip: border-box;
        background-size: cover;
        background-color: $color2;
        background-blend-mode: luminosity;
        box-shadow: inset 0px 0px 20.5px 5px #00000099;
        color: $color1;
        font-family: $font2;
        font-size: 3vw;
        text-shadow: 0 1px 0 #2E405780, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
        width: 8vw;
        height: 10vh;
        margin: 0 0 1vh 0;
        border-radius: 10px;
        border: 7.5px solid whitesmoke;
        outline: .25px riged #2E4057CC;
        
      }
    
      .gdBtn:disabled {
          color: #048BA8CC;
          // text-shadow: none;
      }
      
    }
  }

.gdTeamsContainer {
  width: 100vw;
  position: absolute;
  top: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;      
  height: 15vh;
  margin-bottom: 5vh; 
  z-index: 6;
  
}

//     `JJJJ'                             `FFF"""FFF
//       JJ                                FF    `F
//       JJ    ,oO"Oo.    `NNNnNNNn.       FF   f     ,oO"Oo.    `XX'    `XX'
//       JJ   OO'   `OO     NN    NN       FF""FF    OO'   `OO     `XX  ,X' 
//       JJ   OO     OO     NN    NN       FF   f    OO     OO        XXX 
//  (J)  JJ   OO.   ,OO     NN    NN       FF        OO.   ,OO     ,X'   XX.  
//   JjjJJ     `OoooO'    .NNNN  NNNN.   .FFFF.       `OoooO'    .XX.     .XX.

