.ant-carousel .slick-slide {
    text-align: center;
    height: 60vh;
    line-height: 160px;
    background: #2e4057;
    // overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #99c24d;
  }