.sd{
    position: absolute;
}

.gcControlContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color5;
    height: 100vh;
    h1 {
        font-size: 3em;
        margin: 10px;
        color: white;
        font-family: $font2;
    }

    #displayLink {
        color: $color1;
        font-family: $marker;
    }
}

.gcGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    height: 100vh;
    background-color: lightgray;
    // border: red solid 1px;
}

.gcColumnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px;
    width: 60%;
    height: 80vh;
    // border: 1px red solid;
}

.gcColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: white;
    padding: 0 20px;

    // font-size: 1.2em;
    h2{
        display: flex;
        justify-content: center;
        font-size: 1.25vw;
        color: white;
        font-family: $font2;
        padding: 2vh;
        margin: 10px;
        // border: 2px white solid;
        background-color: white;
        border-radius: 10px;
        width: 300px;
        background-color: $color5;
        margin-top: -20px;
    }
}

.gcTeamsContainer{
    margin-bottom: 5vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 5;
}

.gcBtn{
    font-size: 1.2em;
    font-weight: 800;
    padding: 30px;
    margin: 5px;
    border: 0px solid $color2; 
    border-radius: 15px;
    background-color: $color2;
    color: $color1;
    font-family: $font2;
    text-shadow: -1px 1px 2px $color3;

    background: $color2;
// background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255,255,255)), color-stop(47%, rgb(246,246,246)), color-stop(100%, rgb(199,197,199)));
// background: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
// background: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
// background: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
// background: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c5c7', GradientType=0 );
    
    &:active{
    background-color: $color2;
    }
    &:disabled{
        background: rgb(153,153,153);
        color: $color5;
        
background: -moz-linear-gradient(top, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(153,153,153)), color-stop(47%, rgb(145,145,145)), color-stop(100%, rgb(122,117,122)));
background: -webkit-linear-gradient(top, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
background: -o-linear-gradient(top, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
background: -ms-linear-gradient(top, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
background: linear-gradient(to bottom, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#7a757a', GradientType=0 );

    }
}

.gcBtn:hover {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px $color1, 0 0 30px $color1, 0 0 40px $color1, 0 0 55px $color1, 0 0 75px $color1;
    curser: clickable;
    color: white;
}



.gcModalText {
    text-align: left;
    color: $color5;

}

.pointTracker {
    width: 100%;
    height: 15vh;
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    // flex-wrap: nowrap;
    align-items: space-between;
    align-content: center;
    
    #borderLine {
        border-right: 5px solid #2F2D2E;
    }

    
    
}

.ptTeam {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;


    h4 {
        font-weight: bold;
        font-size: 2.5vw;
        color: $color5;
    }
}

.gcBuzzer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    right: 10px;
    position: absolute;
    width: 175px;
    padding: 10px;
    background-color: $color3;
    font-family: $font2;
    font-size: 1em;
    color: white;
    border-radius: 25px;
    z-index: 7;
    background-blend-mode: darken;
    div{
        margin: 5px;
    }


}

.answerBtn {
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $color1;
    color: $color1;
    font-weight: bold;
    margin-top: 5.5vh;

}