.gcControlContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    background-color: $color5;
    height: 100vh;
    h1 {
        font-size: 3em;
        margin: 20px;
        color:white;
    }
}

.gcGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    height: 100vh;
    background-color: lightgray;
    // border: red solid 1px;
}

.gcColumnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px;
    width: 60%;
    height: 80vh;
    // border: 1px red solid;
}

.gcColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: gray;
    padding: 0 20px;
    // font-size: 1.2em;
    h2{
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        color: white;
        padding: 10px;
        margin: 10px;
        border: 2px white solid;
        border-radius: 10px;
        width: 200px;
        background-color: $color5;
    }
}

.gcTeamContainer{
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    font-size: 1.5em;
    // border: 1px blue solid;
}

.gcBtn{
    font-size: 1.2em;
    font-weight: 800;
    padding: 30px;
    margin: 5px;
    // background-color: white;
    background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255,255,255)), color-stop(47%, rgb(246,246,246)), color-stop(100%, rgb(199,197,199)));
background: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
background: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
background: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
background: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(199,197,199) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c5c7', GradientType=0 );
    
    &:active{
        background: rgb(199,197,199);
background: -moz-linear-gradient(top, rgb(199,197,199) 0%, rgb(246,246,246) 53%, rgb(255,255,255) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(199,197,199)), color-stop(53%, rgb(246,246,246)), color-stop(100%, rgb(255,255,255)));
background: -webkit-linear-gradient(top, rgb(199,197,199) 0%, rgb(246,246,246) 53%, rgb(255,255,255) 100%);
background: -o-linear-gradient(top, rgb(199,197,199) 0%, rgb(246,246,246) 53%, rgb(255,255,255) 100%);
background: -ms-linear-gradient(top, rgb(199,197,199) 0%, rgb(246,246,246) 53%, rgb(255,255,255) 100%);
background: linear-gradient(to bottom, rgb(199,197,199) 0%, rgb(246,246,246) 53%, rgb(255,255,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c5c7', endColorstr='#ffffff', GradientType=0 );
    }
    &:disabled{
        background: rgb(153,153,153);
background: -moz-linear-gradient(top, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(153,153,153)), color-stop(47%, rgb(145,145,145)), color-stop(100%, rgb(122,117,122)));
background: -webkit-linear-gradient(top, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
background: -o-linear-gradient(top, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
background: -ms-linear-gradient(top, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
background: linear-gradient(to bottom, rgb(153,153,153) 0%, rgb(145,145,145) 47%, rgb(122,117,122) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#7a757a', GradientType=0 );

    }
}



.gcTeam1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .gcName{
        padding: 0 10px;
    }
    // width: 100px;
    background-color: $color2;
    border: 1px $color2 solid;
    border-radius: 5px;
}

.gcTeam2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .gcName{
        padding: 0 10px;
    }
    // width: 200px;
    background-color: $color1;
    border: 1px $color1 solid;
    border-radius: 5px;
}

.gcScore{
    padding: 5px;
    margin-left: 5px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}