// colors
$color1: #FF9502;
$color2: #048BA8;
$color3: #2E4057;
$color4: #99C24D;
$color5: #2F2D2E;


//fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
$marker: 'Permanent Marker', cursive;

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
$font2: 'Luckiest Guy', cursive;